{% extends 'header.html' %}
{% load static %}

{% block content %}

<script src="{% static 'js/plugin.js' %}"></script>

<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="{% url 'index' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Cart</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- checkout -->
<div class="checkout">
    <div class="container">
        <h3 class="animated wow slideInLeft" data-wow-delay=".5s">Your shopping cart contains: <span>{{count}} Products</span></h3>
        <div class="checkout-right animated wow slideInUp" data-wow-delay=".5s">
            <table class="timetable_sub">
                <thead>
                    <tr>
                        <th>SR NO.</th>
                        <th>Product</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Discount</th>
                        <th>Amount</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                {% for item in prod %}
                <tbody>
                <tr class="rem1">
                    <td class="invert">{{forloop.counter}}</td>
                    <td class="invert"><a href="{% url 'single' item.product.id %}"><img src="{{item.product.pic.url}}" width="100" height="100" /></a></td>
                    <td class="invert">{{item.product.name}}</td>
                    <td class="invert" style="align:center">
                        <div class="input-group "  >
                            <div class="input-group-prepend" style="align:center">
                                <input type="number" class="form-control " style="text-align:center"  name='qty'id="txtqty{{item.id}}" value="{{item.quantity}}" max="{{item.product.quantity}}" min="1"  step="1"
                                onchange="updateCartQty('{{item.id}}',document.getElementById('txtqty{{item.id}}').value)">
                            </div>
                        </div> 
                    </td>
                                     
                    <td class="invert">₹{{item.product.price}}</td>
                    <td class="invert">{{item.product.discount}}%</td>
                    <td class="invert">₹{{item.product.discountedprice}}</td>
                    <td >
                        <div >
                            <div ><a onclick="remove('{{item.product.id}}')">Remove</a> </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">Total:</td>
                        <td>₹{{total}}</td>
                    </tr>
                </tfoot>

            </table>
        </div>
        <div style="margin-top:20px " class="animated wow slideInLeft">
             
            <div  >
             
                <a href="{% url 'checkout'  %}" class="btn btn-warning">CheckOut</a>
        
             
                <a href="{% url 'products' %}" style="margin-left:800px " class="btn btn-warning">Continue Shopping</a>
            </div>
        </div>       
    </div>
</div>
<!-- //checkout -->

<script>
    function updateCartQty(cartid,qty) {
      
    $.ajax({
            url:"{% url 'UpdateCartQty' %}",
            method: 'GET',
            data:{ id: cartid, qty: qty },
            success: function(response) {
                alert(response.msg);
                window.location.href = "{% url 'cart' %}";
            }
        });
    }
    
    function remove(productid) {
          
        $.ajax({
                url:"{% url 'remove'  %}",
                method: 'GET',
                data:{ id:productid },
                success: function(response) {
                    alert(response.msg);
                    window.location.href = "{% url 'cart' %}";
                }
            });
        }
    
</script>

{% endblock %}