{% extends 'header.html' %}
{% load static %}

{% block content %}


<!-- single -->
<div class="single">
    <div class="container">
        <div class="col-md-12 single-right">
            <div class="col-md-3 single-right-left animated wow slideInUp" data-wow-delay=".5s">
                <div class="flexslider">
                    <ul class="slides">
                        <li data-thumb="{{productobj.pic.url}}">
                            <div class="thumb-image"> <img src="{{productobj.pic.url}}" data-imagezoom="true" class="img-responsive"> </div>
                        </li>
                        <li data-thumb="{{productobj.pic1.url}}">
                             <div class="thumb-image"> <img src="{{productobj.pic1.url}}" data-imagezoom="true" class="img-responsive"> </div>
                        </li>
                        <li data-thumb="{{productobj.pic2.url}}">
                           <div class="thumb-image"> <img src="{{productobj.pic2.url}}" data-imagezoom="true" class="img-responsive"> </div>
                        </li> 
                    </ul>
                </div>
                <!-- flixslider -->
                    <script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
                    <link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" />
                    <script>
                    // Can also be used with $(document).ready()
                    $(window).load(function() {
                      $('.flexslider').flexslider({
                        animation: "slide",
                        controlNav: "thumbnails"
                      });
                    });
                    </script>
                <!-- flixslider -->
            </div>
            <div class="col-md-9 single-right-left simpleCart_shelfItem animated wow slideInRight" data-wow-delay=".5s">
                <h3>{{productobj.name}}</h3>
                
               
                <div class="rating1">
                    <span class="starRating">
                        <input id="rating5" type="radio" name="rating" value="5">
                        <label for="rating5">5</label>
                        <input id="rating4" type="radio" name="rating" value="4">
                        <label for="rating4">4</label>
                        <input id="rating3" type="radio" name="rating" value="3" checked>
                        <label for="rating3">3</label>
                        <input id="rating2" type="radio" name="rating" value="2">
                        <label for="rating2">2</label>
                        <input id="rating1" type="radio" name="rating" value="1">
                        <label for="rating1">1</label>
                    </span>
                </div>
                <div class="description">
                    <h5><i>Description</i></h5>
                    <p>{{productobj.des}}</p>
                </div>

                <h4 class="simpleCart_shelfItem products-right-grid1-add-cart">
                    <p><i>₹{{productobj.price}}</i> <span class="item_price">₹{{productobj.discountedprice}}</span></p>
                </h4>

                 <div class="occasion-cart" data-wow-delay=".5s">
                    <input type="button" class="item_add" onclick="add_to_cart('{{productobj.id}}')"  value="Add To Cart">
                </div>
                
                <div class="social">
                    <div class="social-left">
                        <p>Share On :</p>
                    </div>
                    <div class="social-right">
                        <ul class="social-icons">
                            <li><a href="#" class="facebook"></a></li>
                            <li><a href="#" class="twitter"></a></li>
                            <li><a href="#" class="g"></a></li>
                            <li><a href="#" class="instagram"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>                            
            </div>            
        </div>
    </div>
</div>
<!-- //single -->

<script>
    function add_to_cart(productid) {
      
    $.ajax({
            url:"{% url 'add-to-cart' productobj.id %}",
            method: 'GET',
            data:{ id:productid },
            success: function(response) {
                alert(response.msg);
                window.location.href = "{% url 'products' %}";
            }
        });
    }

</script>

{% endblock %}